@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import './list-style.css';

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.wrapper__row {
  width: 945px;
  height: 522px;
  background-color: #fff;
  box-shadow: 0 0 35px #a7a6a6;
  border-radius: 35px;
  display: flex;
  padding: 30px;
}

.wrapper__map-section,
.wrapper__info-section {
  height: 100%;
}

.wrapper__map-section {
  width: 70%;
  height: 500px;
}

#chart-div {
  width: 95%;
  height: 92%;
}

.wrapper__info-section {
  width: 30%;
  height: 100%;
}

#search {
  outline: none;
  width: 80%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 0 10px;
  font-size: 12px;
}
